
p{
    margin: 0;
}
ul,li{
    margin: 0;
    padding: 4px;
    list-style: none;
}
.profile{
    border: gray 1px solid;
}
.description{
    text-align: center;
    font-size: 24px;
}

.name{
    margin: 0;
    font-size: 36px;
    font-weight: 700;
}

.stats{
    display:flex;
    justify-content: center;
    background-color: rgb(201, 201, 201);
    text-align: center;
    font-size: 18px;

}

.label{
    color: gray;
}
.quantity{
    font-weight: 600;
}

.stats__list{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;


}

