.status_online{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: green;
}




.status_offline{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: red;
}

.friend-list{
    margin-top: 20px;
    display: flex;

}
.friend-list .item{
    border: 1px solid gray;
    min-width: 160px;
    text-align: center;
    margin-right: 10px;

}

.avatar{
    margin: auto;
}
