.transaction-history{
    margin-top: 20px;
    
}

.transaction-history__head{
    background-color: gray;
    padding: 10px 15px;
    text-align: center;
    font-size: 30px;
}
th, td{
    padding: 10px;
}

.transaction-history__list{
    padding: 10px;
    font-size: 24px;
    border: 1px solid gray;
    background-color: aquamarine;
    text-align: center;
    
}